body{
    margin: 0;
    font-family: "Josefin Sans" 
    /* cambiar a josefin sans */
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
.hero{
    background: url(img/Background\ Image\ \(1\).png) center / cover no-repeat;
    width: 100%;
    height: 180vh;
}

header{
    width: 100%;
    padding: 40px 0;
}

.navbar{
    height: 50px;
    margin: 0 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.logo{
    width: 30%;
    padding: 30px 15px;
    box-shadow: 0 0 80px 5px #00000020;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    
}

.logo img{
    width: 90%;
}


.button-hamgurguer{
    display: none;
}

.button-hamburguer{
    appearance: none;
    width: 50px;
    height: 50px;
    left: 40px;
    position: absolute;
    background-color: #fff;
    border: none;
    margin: 0;
}


.lines{
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line{
    background-color: #000;
    width: 60%;
    height: 20%;
    position: relative;
    border-radius: 10px;
    padding: 2px 2px;
    margin: 7px 7px 7px 7px;
}

.button-hamburguer:checked ~ .lines .line1{
    transform: rotate(45deg);
    transform-origin: 0% 0%;
}

.button-hamburguer:checked ~ .lines.line2{
    transition: transform 0.4s ease-in-out;
}

.button-hamburguer:checked ~ .lines .line3{
    transform: rotate(-45deg);
    transform-origin: 0% 100%;
}

p{
    margin-right: 20px;

}


.hero-content{

}

.text-box{

}

.shadow{
    max-width: 320px;
    border: 10px  solid #ffffff30;
    margin: 20px 10px 20px 40px;
    padding: 10px 0 10px 0;
}

.text{
    position: relative;
    right: 30px;
    background-color: white;
    padding: 10px 10px;
    
}

.phoneimage1{
    padding: 50px;
}

